.env
.env.example
*.log
node_modules/
dist/

UI/node_modules
UI/dist
UI/.env
UI/build
UI/prompt.txt


DOR_WEBSITE/node_modules
DOR_WEBSITE/dist
DOR_WEBSITE/.env
DOR_WEBSITE/build
DOR_WEBSITE/prompt.txt

API/RMS/RMS/wwwroot
API/RMS/RMS/bin 
API/RMS/RMS/obj
API/RMS/.vs

.vs/
*.suo
*.user
*.userosscache
*.sln.docstates
bin/
obj/
docs/
.kiro
*.md
MD